<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="usefulLinks" name="%usefulLink.extPoint" schema="schema/usefulLinks.exsd"/>
   <extension-point id="htmlBrowsers" name="HTML Browsers" schema="schema/htmlBrowsers.exsd"/>
   <extension
         point="org.eclipse.browser.usefulLinks">
      <linkObject
            link="http://www.eclipse.org/downloads/"
            name="%link.object.name.eclipse.downloads">
         <description>
            %link.object.description.eclipse.downloads
         </description>
      </linkObject>
      <linkObject
            link="https://bugs.eclipse.org/bugs/"
            name="%link.object.name.eclipse.bugs">
         <description>
			%link.object.description.eclipse.bugs         
         </description>
      </linkObject>
      <linkObject
            link="http://wiki.eclipse.org/index.php/Main_Page"
            name="%link.object.name.eclipsepedia">
         <description>
            %link.object.description.eclipsepedia
         </description>
      </linkObject>         
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.eclipse.browser.application.Perspective"
            icon="icons/eclipse_icon.gif"
            id="org.eclipse.browser.perspective"
            name="%perspective.name">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.eclipse.browser.view.ui.EclipseBrowserView"
            icon="icons/eclipse_icon.gif"
            id="org.eclipse.browser.view"
            name="Eclipse Browser">
      </view>
   </extension>
   <extension
         point="org.eclipse.browser.htmlBrowsers">
      <browser
            class="org.eclipse.browser.view.ui.actions.InternalBrowser"
            id="org.eclipse.browser.builtin"
            name="Internal Browser">
      </browser>
   </extension>
 
</plugin>
