<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.cheatsheets.cheatSheetContent">
      <cheatsheet
            category="org.eclipse.browser.cheatsheets.category"
            composite="true"
            contentFile="cheatsheets/view-composite.xml"
            id="org.eclipse.browser.cheatsheets.view"
            name="Importing the EclipseCon tutorial">
      </cheatsheet>
   </extension>
   <extension
         point="org.eclipse.ui.cheatsheets.cheatSheetContent">
       <cheatsheet
            category="org.eclipse.browser.cheatsheets.category"
            composite="true"
            contentFile="cheatsheets/rcpapp-composite.xml"
            id="org.eclipse.browser.cheatsheets.rcp"
            name="Creating EclipseCon tutorial RCP Application">
      </cheatsheet>
   </extension>
   <extension
         point="org.eclipse.ui.cheatsheets.cheatSheetContent">
      <category
            id="org.eclipse.browser.cheatsheets.category"
            name="Fundamentals of Plug-in and RCP Development">
      </category>
   </extension>

</plugin>
