<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.cheatsheets.cheatSheetContent">
      <cheatsheet
            category="org.eclipse.pde"
            composite="true"
            contentFile="cheatsheets/examples-import-composite.xml"
            id="org.eclipsecon.cheatsheets.import"
            name="Importing the EclipseCon tutorial">
      </cheatsheet>
      <cheatsheet
            category="org.eclipse.pde"
            composite="true"
            contentFile="cheatsheets/examples-rcpapp-composite.xml"
            id="org.eclipsecon.cheatsheets.rcp"
            name="Creating EclipseCon tutorial RCP Application">
      </cheatsheet>
   </extension>

</plugin>
