<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.cheatsheets.cheatSheetContent">
      <cheatsheet
            category="org.eclipse.browser.cheatsheets.category"
            composite="true"
            contentFile="cheatsheets/view-composite.xml"
            id="org.eclipse.browser.cheatsheets.view"
            name="Create the Eclipse Browser Plug-in">
         <description>
            This cheat sheet helps you to create and extend a plug-in that contributes an Eclipse Browser view to the Eclipse SDK.
         </description>
      </cheatsheet>
   </extension>
   <extension
         point="org.eclipse.ui.cheatsheets.cheatSheetContent">
       <cheatsheet
            category="org.eclipse.browser.cheatsheets.category"
            composite="true"
            contentFile="cheatsheets/rcpapp-composite.xml"
            id="org.eclipse.browser.cheatsheets.rcp"
            name="Create the Eclipse Browser RCP Application">
          <description>
             This cheat sheet helps you to create a standalone, fully-branded Eclipse Browser rich client application.
          </description>
      </cheatsheet>
   </extension>
   <extension
         point="org.eclipse.ui.cheatsheets.cheatSheetContent">
      <category
            id="org.eclipse.browser.cheatsheets.category"
            name="Fundamentals of Plug-in and RCP Development">
      </category>
   </extension>

</plugin>
